@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-darkblue: #2547d0;
  --color-lightblue: #335cff;
  --color-green: #21c16b;
  --color-lightGreen: #d1fbe9;
  --color-red: #fb3748;
  --color-lightRed: #ffd5d8;
  --font-noto: "Noto Sans", sans-serif;
}

:root {
  font-synthesis: none;
  font-family: "Noto Sans";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.desktop-layout {
  display: grid;
  height: 100vh;
  width: 100%;
  gap: 0;
  overflow: hidden;
  grid-template-areas:
    "sidebar result search-settings search-settings search-settings"
    "sidebar result textarea textarea actions"
    "sidebar result textarea textarea actions"
    "sidebar result textarea textarea actions"
    "sidebar result textarea textarea actions";
  grid-template-columns: 270px 290px 1fr 1fr 270px;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.dark {
  transition:
    background-color 0.3s ease-in-out,
    color 0.5s ease-in-out;
}

textarea {
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  padding: 15px 20px;
}
