@import "tailwindcss";

@theme {
  --color-darkblue: #2547d0;
  --color-lightblue: #335cff;
  --color-green: #21c16b;
  --color-lightGreen: #d1fbe9;
  --color-red: #fb3748;
  --color-lightRed: #ffd5d8;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  transition:
    background-color 0.3s ease-in-out,
    color 0.5s ease-in-out;
}
